@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-msankn');
  src: url('fonts/icomoon.eot?#iefix-msankn') format('embedded-opentype'), url('fonts/icomoon.woff?-msankn') format('woff'), url('fonts/icomoon.ttf?-msankn') format('truetype'), url('fonts/icomoon.svg?-msankn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-mail:before {
  content: "\ea83";
}
.icon-twitter2:before {
  content: "\ea92";
}
.icon-steam2:before {
  content: "\eaae";
}
.icon-github:before {
  content: "\eab1";
}
.icon-linkedin:before {
  content: "\eac8";
}
.icon-stackoverflow:before {
  content: "\eacf";
}
html,
body {
  min-width: 320px;
  background-color: #333333;
  color: #ffffff;
  font-style: normal;
  font-family: "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
  font-size: 18px;
  line-height: 1.45;
  font-weight: 400;
  padding-top: 50px;
}
html ::-webkit-scrollbar,
body ::-webkit-scrollbar {
  display: none;
}
html .nav-title,
body .nav-title {
  opacity: 0.95;
  filter: alpha(opacity=95);
  /* For IE8 and earlier */
  border-bottom-color: #337ab7;
}
html .name,
body .name {
  padding: 10px 0px 10px 0px;
}
html .expertise,
body .expertise {
  width: -moz-calc(100% - 200px);
  width: -webkit-calc(100% - 200px);
  width: -o-calc(100% - 200px);
  width: calc(100% - 200px);
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
}
html .profile,
body .profile {
  width: 190px;
  display: inline-block;
  vertical-align: top;
}
html .label,
body .label {
  font-size: 100%;
}
html .navbar,
body .navbar {
  border-radius: 0;
}
html .social-icons,
body .social-icons {
  font-size: 32px;
}
html blockquote,
body blockquote {
  border-left-color: #337ab7;
}
@media screen and (max-width: 768px) {
  html .h1,
  body .h1,
  html h1,
  body h1 {
    font-size: 22px;
  }
  html .h2,
  body .h2,
  html h2,
  body h2 {
    font-size: 20px;
  }
  html .h3,
  body .h3,
  html h3,
  body h3 {
    font-size: 18px;
  }
  html p,
  body p {
    font-size: 14px;
  }
  html .expertise,
  body .expertise {
    width: -moz-calc(100% - 0px);
    width: -webkit-calc(100% - 0px);
    width: -o-calc(100% - 0px);
    width: calc(100% - 0px);
    display: block;
    padding-left: 0px;
  }
  html .profile,
  body .profile {
    width: 150px;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  html .h1,
  body .h1,
  html h1,
  body h1 {
    font-size: 28px;
  }
  html .h2,
  body .h2,
  html h2,
  body h2 {
    font-size: 26px;
  }
  html .h3,
  body .h3,
  html h3,
  body h3 {
    font-size: 24px;
  }
  html p,
  body p {
    font-size: 16px;
  }
  html .expertise,
  body .expertise {
    width: -moz-calc(100% - 190px);
    width: -webkit-calc(100% - 190px);
    width: -o-calc(100% - 190px);
    width: calc(100% - 190px);
  }
  html .profile,
  body .profile {
    width: 170px;
  }
}
.red-text {
  color: #ff0000;
}
.blue-text {
  color: #337ab7;
}
.green-text {
  color: #33cc66;
}
.black-text {
  color: #333333;
}
.white-text {
  color: #ffffff;
}
.grey-text {
  color: #cccccc;
}
.padding {
  padding: 10px;
}
.padding-top {
  padding-top: 10px;
}
.padding-right {
  padding-right: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.padding-left {
  padding-left: 10px;
}
.margin {
  margin: 10px;
}
.margin-top {
  margin-top: 10px;
}
.margin-right {
  margin-right: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.margin-left {
  margin-left: 10px;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.nowrap {
  white-space: nowrap;
}
.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
