// media
@screen-xs-max: 768px;
@screen-sm-max: 992px;
@screen-md-max: 1200px;
// colors
@c_red: #FF0000;
@c_blue: #337AB7;
@c_green: #33CC66;
@c_black: #333333;
@c_white: #FFFFFF;
@c_grey: #CCCCCC;
// fonts
@f_default_color: @c_white;
@f_default_family: "Myriad Set Pro",
"Lucida Grande",
"Helvetica Neue",
"Helvetica",
"Arial",
"Verdana",
"sans-serif";
@f_default_style: normal;
@f_default_size: 18px;
@f_default_line_height: 1.45;
@f_default_font_weight: 400;
// icons
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?-msankn');
    src: url('fonts/icomoon.eot?#iefix-msankn') format('embedded-opentype'), url('fonts/icomoon.woff?-msankn') format('woff'), url('fonts/icomoon.ttf?-msankn') format('truetype'), url('fonts/icomoon.svg?-msankn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
    content: "\ea83";
}

.icon-twitter2:before {
    content: "\ea92";
}

.icon-steam2:before {
    content: "\eaae";
}

.icon-github:before {
    content: "\eab1";
}

.icon-linkedin:before {
    content: "\eac8";
}

.icon-stackoverflow:before {
    content: "\eacf";
}

// classes
html,
body {
    ::-webkit-scrollbar {
        display: none;
    }
    .nav-title {
        opacity: 0.99;
        filter: alpha(opacity=99);
        .filter(opacity(0.99));
        /* For IE8 and earlier */
        border: none;
    }
    .nav-footer {
        border: none;
    }
    min-width: 320px;
    background-color: @c_black;
    color: @f_default_color;
    font-style: @f_default_style;
    font-family: @f_default_family;
    font-size: @f_default_size;
    line-height: @f_default_line_height;
    font-weight: @f_default_font_weight;
    padding-top: 50px;
    .name {
        .padding(10px, 0px, 10px, 0px);
    }
    .expertise {
        .width-offset(200px);
        .display-inline-block();
        vertical-align: top;
        padding-left: 30px;
    }
    .profile {
        width: 190px;
        .display-inline-block();
        vertical-align: top;
    }
    .label {
        font-size: 100%;
    }
    .navbar {
        border-radius: 0;
    }
    .social-icons {
        font-size: 32px;
    }
    blockquote {
        border-left-color: @c_blue;
    }
    @media screen and (max-width: @screen-xs-max) {
        .h1, h1 {
            font-size: 22px
        }
        .h2,
        h2 {
            font-size: 20px
        }
        .h3,
        h3 {
            font-size: 18px
        }
        p {
            font-size: 14px;
        }
        .expertise {
            .width-offset(0px);
            .display-block();
            padding-left: 0px;
        }
        .profile {
            width: 150px;
            .display-block();
        }
    }
    @media screen and (min-width: @screen-xs-max) and (max-width: @screen-sm-max) {
        .h1, h1 {
            font-size: 28px
        }
        .h2,
        h2 {
            font-size: 26px
        }
        .h3,
        h3 {
            font-size: 24px
        }
        p {
            font-size: 16px;
        }
        .expertise {
            .width-offset(190px);
        }
        .profile {
            width: 170px;
        }
    }
}

// utils
// colors
.red-text {
    color: @c_red;
}

.blue-text {
    color: @c_blue;
}

.green-text {
    color: @c_green;
}

.black-text {
    color: @c_black;
}

.white-text {
    color: @c_white;
}

.grey-text {
    color: @c_grey;
}

// dimentional
.padding(@top: 10px,
@right: 10px,
@bottom: 10px,
@left: 10px) {
    padding: @top @right @bottom @left;
}

.padding {
    padding: 10px;
}

.padding-top {
    padding-top: 10px;
}

.padding-right {
    padding-right: 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.padding-left {
    padding-left: 10px;
}

.margin(@top: 10px,
@right: 10px,
@bottom: 10px,
@left: 10px) {
    margin: @top, @right, @bottom, @left;
}

.margin {
    margin: 10px;
}

.margin-top {
    margin-top: 10px;
}

.margin-right {
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-left {
    margin-left: 10px;
}

.width-offset (@offset) {
    width: -moz-calc(~"100%" - @offset);
    width: -webkit-calc(~"100%" - @offset);
    width: -o-calc(~"100%" - @offset);
    width: calc(~"100%" - @offset);
}

// textual
.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

.elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//fx
.box-shadow (@x: 0px,
@y: 3px,
@blur: 5px,
@alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}

// mixins
.text-shadow (@string: 0 1px 3px rgba(0,
0,
0,
0.25)) {
    text-shadow: @string;
}

.box-shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.drop-shadow (@x: 0,
@y: 1px,
@blur: 2px,
@spread: 0,
@alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inner-shadow (@x: 0,
@y: 1px,
@blur: 2px,
@spread: 0,
@alpha: 0.25) {
    -webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
    -moz-box-sizing: @type;
    box-sizing: @type;
}

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.border-radiuses (@topright: 0,
@bottomright: 0,
@bottomleft: 0,
@topleft: 0) {
    -webkit-border-top-right-radius: @topright;
    -webkit-border-bottom-right-radius: @bottomright;
    -webkit-border-bottom-left-radius: @bottomleft;
    -webkit-border-top-left-radius: @topleft;
    -moz-border-radius-topright: @topright;
    -moz-border-radius-bottomright: @bottomright;
    -moz-border-radius-bottomleft: @bottomleft;
    -moz-border-radius-topleft: @topleft;
    border-top-right-radius: @topright;
    border-bottom-right-radius: @bottomright;
    border-bottom-left-radius: @bottomleft;
    border-top-left-radius: @topleft;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.opacity (@opacity: 0.5) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.gradient (@startColor: #eee,
@endColor: white) {
    background-color: @startColor;
    background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
    background: -webkit-linear-gradient(top, @startColor, @endColor);
    background: -moz-linear-gradient(top, @startColor, @endColor);
    background: -ms-linear-gradient(top, @startColor, @endColor);
    background: -o-linear-gradient(top, @startColor, @endColor);
}

.horizontal-gradient (@startColor: #eee,
@endColor: white) {
    background-color: @startColor;
    background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image: -moz-linear-gradient(left, @startColor, @endColor);
    background-image: -ms-linear-gradient(left, @startColor, @endColor);
    background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name,
@duration: 300ms,
@delay: 0,
@ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
}

.transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
}

.scale (@factor) {
    -webkit-transform: scale(@factor);
    -moz-transform: scale(@factor);
    -ms-transform: scale(@factor);
    -o-transform: scale(@factor);
}

.rotate (@deg) {
    -webkit-transform: rotate(@deg);
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -o-transform: rotate(@deg);
}

.skew (@deg,
@deg2) {
    -webkit-transform: skew(@deg, @deg2);
    -moz-transform: skew(@deg, @deg2);
    -ms-transform: skew(@deg, @deg2);
    -o-transform: skew(@deg, @deg2);
}

.translate (@x,
@y: 0) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
}

.translate3d (@x,
@y: 0,
@z: 0) {
    -webkit-transform: translate3d(@x, @y, @z);
    -moz-transform: translate3d(@x, @y, @z);
    -ms-transform: translate3d(@x, @y, @z);
    -o-transform: translate3d(@x, @y, @z);
}

.perspective (@value: 1000) {
    -webkit-perspective: @value;
    -moz-perspective: @value;
    -ms-perspective: @value;
    perspective: @value;
}

.transform-origin (@x: center,
@y: center) {
    -webkit-transform-origin: @x @y;
    -moz-transform-origin: @x @y;
    -ms-transform-origin: @x @y;
    -o-transform-origin: @x @y;
}

.filter (@property) {
    -webkit-filter: @property;
    -moz-filter: @property;
    -o-filter: @property;
    -ms-filter: @property;
    filter: @property;
}
